.default_phases {
	display: none;
}

.hide {
	display: none;
}

#register_form label.error {
	font-family: "Futura LT W01 Light",Arial,Helvetica,sans-serif;
	font-size: 16px !important;
	color:red;
	text-transform: none !important;
	clear: both;
	margin-bottom: 0;
}

#registerSubUser label.error {
	text-align: left !important;
	width: 100%;
}

/*  Loadinn image  */
#loading_main{display:none;position:fixed;height:100%;width:100%;bottom:0px; background-color:rgba(23,23,23,0.40); z-index:99998;}
#loading_main .loading{position:absolute;left:50%;top:50%; background-color:rgba(23,23,23,0); z-index:99999;}

body.modal-open {
    overflow: hidden !important;
    overflow-y:hidden !important;
}

.btn-group .btn:last-child,.btn-group .btn:first-child  {
    border-left:none !important;
    border-right:none !important;
}
.btn-group-calendar, .btn-group {
    background: #c0c0c0 none repeat scroll 0 0;
    border-radius: 9px;
    margin-right: 1rem;
    padding: 4px;
}

.btn-group-calendar .btn:hover, .btn-group-calendar .btn.active, .btn-group .btn:hover, .btn-group .btn.active {
    background: #fff none repeat scroll 0 0;
    color: #000;
}