  .add-phases-footer .btn-default,.post-content-footer .btn-default{
    border: 1px solid #000;
    color: #000;
  }

  .add-phases-footer .btn-default:hover ,.post-content-footer .btn-default:hover{
    background: #000 none repeat scroll 0 0;
    border-color: #000;
    color: #fff;
  }

  button.modal-hide{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #000;
    color: #000;
  }

  button.modal-hide:hover,
  button.modal-hide:focus,
  button.modal-hide:active {
    background: #c71f2a none repeat scroll 0 0;
    border-color: #c71f2a;
    color: #fff;
}

  .overlay-footer button.btn-default{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #000;
    color: #000;
  }

  .overlay-footer button.btn-default:hover,
  .overlay-footer button.btn-default:focus,
  .overlay-footer button.btn-default:active {
    background: #c71f2a none repeat scroll 0 0;
    border-color: #c71f2a;
    color: #fff;
}

/*09-08-2016*/
.bg-orange {
  background: #F58235; }
