#post-details .error {
  color: red;
  text-transform: none !important;
  font-size: 12px;
  clear: both; }

#payment-form .error {
  color: red;
  float:left;
  text-transform: none !important;
  font-size: 12px;
  clear: both; }

#step_4_edit .error {
  color: red;
  text-transform: none !important;
  clear: both; }

#step_3_edit .error {
  color: red;
  text-transform: none !important;
  clear: both; }

#reschedule_post .error, #reshedule_date .error{
  color: red;
  text-transform: none !important;
  clear: both;
  text-decoration: none;
}  

/*
  pinterest preview 
*/
.pinterest-img-div img{
    border-radius: 14px  14px 0 0;
  }
  .pinterest-post{
    color: #777;
    font-family: "Helvetica","Hiragino Kaku Gothic Pro","Meiryo",sans-serif;
    font-size: 12px;
  }

  .pinterest-post .post_copy_text{
    color: #333;
    font-size: 13px;
    line-height: 17px;
    word-wrap: break-word
  }
  .creditItem{
    color: #777;
    font-family: "Helvetica","Hiragino Kaku Gothic Pro","Meiryo",sans-serif;
    font-weight: bold;
  }
  .creditTitle {
    color: #777;
    font-size: 8px;
    font-family: "Helvetica","Hiragino Kaku Gothic Pro","Meiryo",sans-serif;
  } 
  .pinterest-comment-div{
    padding: 15px 15px 0px 15px;
    border-bottom: 1px solid #333;
  }
  .pinterest-sharing-option{
    padding: 5px 15px 5px 15px;
    border-top-color: #e7e7e7;
      border-top-style: solid;
      border-top-width: 1px;
  }
  .pinterest-userinfo {
      padding-left: 50px;
      padding-top: 5px;
  }
  .pintereat-comment {
    border-radius: 15px;
    border-color: #777;
  }
  .add-phases-footer .btn-default,.post-content-footer .btn-default{
    border: 1px solid #000;
    color: #000;
  }

  .add-phases-footer .btn-default:hover ,.post-content-footer .btn-default:hover{
    background: #000 none repeat scroll 0 0;
    border-color: #000;
    color: #fff;
  }

  .error{
    clear: both;
    color: red;
    font-size: 12px;
    text-transform: none !important;
  }

  button.modal-hide{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #000;
    color: #000;
  }

  button.modal-hide:hover,
  button.modal-hide:focus,
  button.modal-hide:active {
    background: #c71f2a none repeat scroll 0 0;
    border-color: #c71f2a;
    color: #fff;
}

  footer.post-content-footer .after-approve{
    float: left;
  }

  .overlay-footer button.btn-default{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #000;
    color: #000;
  }

  .overlay-footer button.btn-default:hover,
  .overlay-footer button.btn-default:focus,
  .overlay-footer button.btn-default:active {
    background: #c71f2a none repeat scroll 0 0;
    border-color: #c71f2a;
    color: #fff;
}
